@import url('https://fonts.google.com/specimen/Inter');
/*
font 
- Weights: 400, 600, 700
*/

:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
 body {
    line-height: 1.6;
    background-color: var(--Grey-900);
    font-style: 'inter', sans-serif;
    scroll-behavior: smooth;
 }
h1 {
    color: var(--White);
    font-size: 20px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}
.location {
    color: var(--Green);
}
p{
    color: var(--White);
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    padding: 10px 0px;
}
.social-links a {
    text-decoration: none;
    color: var(--White);
    font-weight: 600;
    display: block;
    background-color: var(--Grey-700);
    margin-bottom: 10px;
    padding: 10px 10px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: smaller;
}
.social-links a:hover {
    color: var(--Green);
}  
ul li {
    list-style: none;
}
.Avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
}
    .location {
        padding-bottom: 10px;
        padding-top: 5px;
    }
    p q {
        font-weight: 100;
        color: #aca8a8;
        font-size: 12px;
    }
    .social-links ul:first-child {
        margin-top: 15px;
    }
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem;
}

.card {
    background-color: var(--Grey-800);
    border-radius: 15px;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    width: 600px;
}

.container {
    max-width: 1100px;
    margin: 50px auto;
}
.attribution a {
    color: var(--Green);
    text-decoration: none;
}

