.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem;
}
.card {
    background-color: var(--Grey-800);
    border-radius: 15px;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    width: 40%;
}
@media(max-width: 678px) {
    .card {
        width: 90%;
    }
    .wrapper {
        padding: 1rem;
        max-width: 375px;
    }
    h1 {
        font-size: 18px;
        font-weight: 400;
    }
    p {
        font-size: 12px;
        font-weight: 700;
        margin-top: unset;
        padding: unset;
    }
    .location {
        padding-bottom: 10px;
        padding-top: 5px;
    }
    p q {
        font-weight: 100;
        color: #aca8a8;
        font-size: 12px;
    }
    .social-links ul:first-child {
        margin-top: 15px;
    }
}